services:
  hbbs:
    container_name: rustdesk
    ports:
      - 21114:21114
      - 21115:21115
      - 21116:21116
      - 21116:21116/udp
      - 21118:21118
    networks:
      - rustdesk
    image: rustdesk/rustdesk-server
    command: hbbs -r hbbr:21117
    volumes:
      - rustdesk:/root
    depends_on:
      - hbbr
    restart: unless-stopped

  hbbr:
    container_name: rustdesk-relay
    ports:
      - 21117:21117
      # - 21119:21119
    networks:
      - rustdesk
    image: rustdesk/rustdesk-server
    command: hbbr
    volumes:
      - rustdesk:/root
    restart: unless-stopped

volumes:
  rustdesk:
    name: rustdesk

networks:
  rustdesk:
    name: rustdesk
